<div class="product-item">
    <div class="product-container">
        <a [routerLink]="['productDetail',product_parent.name]" (click)="setSelectedItem(product_parent)">
            <img class="product-image" src={{product_parent.url}}>
        </a>
        <div class="product-info">
            {{product_parent.name}}
        </div>
        <div class="product-info">
            ${{product_parent.price}}
        </div>
        <form (ngSubmit)="addToCart(product_parent)">
            <select class="select-input" name="selectedQuantity" [(ngModel)]="amount_input_frontend">
                <option *ngFor="let quantity of quantityList" [ngValue]="quantity">{{quantity}}</option>
            </select>
            <br>
            <button class="btn btn-primary">Add Product to Cart</button>
        </form>
    </div>
</div>
