.product-image {      
  list-style-type: none;
  width: 175px;
  padding: 10px;
  margin: 6px 6px;        
  border: 1px outset #154c79;
} 

.select-input {
  width: 75px; 
  margin-bottom: 5px;
}

.product-container {
  margin-top: 64px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;   
}

.product-item{
margin: 2rem;
margin-left: 125px;
}

.product-information{
  margin-bottom:5px;
  font-family: Arial;
  }

.product-detail-information{
margin-bottom:5px;
font-family: Arial;
}