.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 200px;
    margin-bottom: 64px;
    border-style: ridge;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }