.product-index {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 125px;
    margin-bottom: 45px;
    border-style: outset;
  }
  
  .product-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

  }