img {
  border-radius: 5px;
  width: 200px;
}

.select-input {
  width: 75px; 
  margin-bottom: 5px;
}

.product-detail-item {
  margin-left: 75px;
  margin-right: 75px;
  font-family: Arial;
}

.product-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 45px;
}

.go-back-link {
  margin-top: 5px;
}